<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>blue_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,836},{65,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,24},{65,61}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>blue_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,905},{66,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,23},{66,63}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>brown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>brown_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,836},{33,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,22},{33,64}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>brown_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,903},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,21},{35,66}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{478,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,66}}</string>
				<key>sourceSize</key>
				<string>{478,66}</string>
			</dict>

			<key>green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>green_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,962},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,22},{62,61}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>green_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,898},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,21},{64,63}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{423,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,126}}</string>
				<key>sourceSize</key>
				<string>{423,126}</string>
			</dict>

			<key>orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,515},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>orange_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,905},{67,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,21},{67,66}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>orange_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{69,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,20},{69,68}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>pink_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>pink_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,903},{41,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,21},{41,64}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>pink_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,836},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,20},{43,66}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>ui_bt_play_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,782},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_play_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,586},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_replay_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,390},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_replay_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,194},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{320,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,106}}</string>
				<key>sourceSize</key>
				<string>{320,106}</string>
			</dict>

			<key>yellow_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,969},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,25},{56,54}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

			<key>yellow_inline_.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,836},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,24},{58,56}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>block.png</string>
			</dict>
		</dict>
</plist>