<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{320,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,160}}</string>
				<key>sourceSize</key>
				<string>{320,160}</string>
			</dict>

			<key>blue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,354},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,160}}</string>
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>

			<key>blue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,196},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>blue_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,67},{96,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,37},{96,91}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{478,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,66}}</string>
				<key>sourceSize</key>
				<string>{478,66}</string>
			</dict>

			<key>green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{320,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,160}}</string>
				<key>sourceSize</key>
				<string>{320,160}</string>
			</dict>

			<key>green_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,837},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,160}}</string>
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>

			<key>green_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,196},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>green_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,907},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,34},{92,91}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{423,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,126}}</string>
				<key>sourceSize</key>
				<string>{423,126}</string>
			</dict>

			<key>orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,676},{320,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,160}}</string>
				<key>sourceSize</key>
				<string>{320,160}</string>
			</dict>

			<key>orange_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,837},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,160}}</string>
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>

			<key>orange_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,711},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>orange_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,711},{99,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,32},{99,98}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>ui_bt_play_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,711},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_play_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,0},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_replay_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,515},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>ui_bt_replay_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,515},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>

			<key>yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{320,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,159}}</string>
				<key>sourceSize</key>
				<string>{320,160}</string>
			</dict>

			<key>yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,194},{213,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,159}}</string>
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>

			<key>yellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,357},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>yellow_inline.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,907},{84,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,38},{84,80}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>block.png</string>
			</dict>
		</dict>
</plist>